.search-form {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 47, 128, 0.936);
  box-shadow: 10px 14px 17px -11px rgba(0, 0, 0, 0.67);
}

input[name='searchQuery'] {
  height: 40px;
  width: 250px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

button[name='searchButton'] {
  position: relative;
  right: 40;
  padding: 5px;
  border-radius: 3px;
  width: 40px;
  border: none;
  cursor: pointer;

  background-color: #00bfff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: solid;
  background-image: url('../images/search-icon.svg');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;

  &:hover,
  &:focus {
    background-color: #0fb1e7e2;
  }
}

body {
  min-width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-card {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 6px;
  flex-basis: calc((100% - 30px) / 4);

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.gallery__link {
  display: block;
  overflow: hidden;
  height: 240px;
  width: 100%;
}

.gallery__image {
  height: 100%;
  width: 100%;
  transition: transform 400ms ease-out;

  &:hover {
    transform: scale(1.1);
  }
}

.info {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.info-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 1.5;
}
